# --- Raw and processed data ---
data/raw/
data/processed/

# Allow versioning only for small samples (optional)
!data/sample/

# Ignore ALL CSV files everywhere
*.csv

# --- Jupyter temporary checkpoints ---
.ipynb_checkpoints/

# --- Python bytecode ---
__pycache__/
*.pyc

# --- Virtual environments ---
.env
.venv/
